<table id="job-table" class="table">
  <thead>
  <tr>
    <th class="text-center" scope="col">#</th>
    <th class="text-center" scope="col">Position</th>
    <th class="text-center" scope="col">Company</th>
    <th class="text-center" scope="col">Comp. (€)</th>
    <th class="text-center" scope="col">City</th>
    <th class="text-center" scope="col">Created</th>
    <th class="text-center" scope="col">Read / Response / Bookmark</th>
  </tr>
  </thead>
  <tbody>
  {% for bookmark in bookmarks %}
    {% csrf_token %}
    <tr>
      <th class="text-center" scope="row">{{ forloop.counter }}</th>
      <td class="text-center">{{ bookmark.vacancy.position }}</td>
      <td class="text-center">{{ bookmark.vacancy.company }}</td>
      <td class="text-center">{{ bookmark.vacancy.compensation }}</td>
      <td class="text-center">{{ bookmark.vacancy.city }}</td>
      <td class="text-center">{{ bookmark.vacancy.created_at }}</td>
      <td class="text-center">

        <!-- Read buttons -->
        <button type="button" class="bs-modal read-bookmark btn btn-sm btn-primary"
                data-form-url="{% url 'employee:job_read' bookmark.vacancy.pk %}">
          <i class="fas fa-eye"></i>
        </button>
        <!-- Response buttons -->
        <button type="button" class="response-cv btn btn-sm btn-outline-success"
                data-form-url="{% url 'employee:job_response' bookmark.pk %}">
          <i class="fas fa-share-square"></i>
        </button>
        <!-- Bookmark delete -->
        <button type="button" class="bs-modal delete-bookmark btn btn-sm btn-danger"
                data-form-url="{% url 'employee:delete_bookmark' bookmark.pk %}">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>