{% extends 'employee/base.html' %}
{% load static %}
{% load filter_tags %}

{% block content %}


  <!-- Container for BradCrumbs-->

  <div class="container ">
    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb alert alert-success">
        <li class="breadcrumb-item"><a href="/">home</a></li>
        <li class="breadcrumb-item active" aria-current="page">bookmarks/</li>
      </ol>
    </nav>
  </div>

  <div class="container mb-lg-4 mt-lg-4">
    <div class="col-md-12 mb-4">
      <h2><img src="/media/{{ user.avatar|default:'avatars/avatar-placeholder2.png' }}" alt="..." class="rounded"
               width="50"> {{ user.first_name|default:'Noname' }} (Employee)</h2>
      <hr>
    </div>
  </div>


  <!-- TabBar -->
  <div class="container">
    <!-- Tabbar -->

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'employee:employee' %}">My CV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'employee:vacancies' %}">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'employee:bookmarks' %}">Bookmarks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'employee:response_list' %}">Response</a>
      </li>
    </ul>
  </div>


  <!-- Container for Vacancies Table-->
  <div class="container">
    <div class="col-12 mb-3">
      {% if bookmarks %}
        {% include "employee/includes/inc_bookmarks_table.html" %}
      {% else %}
        <p class="no-books text-primary">Nothing To Search.</p>
      {% endif %}
    </div>

  </div>
  <!-- End Container for Vacancies -->

{% endblock %}
