<table id="cv-table" class="table">
  <thead>
  <tr>
    <th class="text-center" scope="col">#</th>
    <th class="text-center" scope="col">Position</th>
    <th class="text-center" scope="col">Compensation (€)</th>
    <th class="text-center" scope="col">First Name</th>
    <th class="text-center" scope="col">Family Name</th>
    <th class="text-center" scope="col">Gender/th>
    <th class="text-center" scope="col">City</th>
    {#    <th class="text-center" scope="col">Birthday</th>#}
    <th class="text-center" scope="col">Read / Response / Bookmark</th>
  </tr>
  </thead>
  <tbody class="cv_list">
  {% for cv in cvs %}
    {% csrf_token %}
    <tr>
      <th class="text-center" scope="row">{{ forloop.counter }}</th>
      <td class="text-center">{{ cv.position_seek }}</td>
      <td class="text-center">{{ cv.compensation_seek }}</td>
      <td class="text-center">{{ cv.first_name }}</td>
      <td class="text-center">{{ cv.family_name }}</td>
      <td class="text-center">{{ cv.gender }}</td>
      <td class="text-center">{{ cv.city }}</td>
      {#      <td class="text-center">{{ cv.birthday }}</td>#}
      <td class="text-center">
        <!-- Read buttons -->
        <button type="button" class="bs-modal read-bookmark btn btn-sm btn-primary"
                data-form-url="{% url 'employer:cv_read' cv.pk %}">
          <span class="fa fa-eye"></span>
        </button>
        <!-- Response buttons -->
        <button type="button" class="bs-modal response btn btn-sm btn-outline-success"
                data-form-url="{% url 'employer:response' cv.pk %}">
          <i class="fas fa-share-square"></i>
        </button>
        <!-- Bookmark buttons -->
        {% if user not in cv.employer_bookmarked.all %}
          <a href="{% url 'employer:cv_bookmark' cv.id %}" id="bookmark" data-id="{{ cv.id }}">
            <button type="button" class="btn btn-sm btn-outline-danger like-btn{{ cv.id }}">
              <i class="fas fa-bookmark"></i>
            </button>
          </a>
        {% else %}
          <a href="{% url 'employer:cv_bookmark' cv.id %}" id="bookmark" data-id="{{ cv.id }}">
            <button type="button" class="btn btn-sm btn-danger like-btn{{ cv.id }}">
              <i class="fas fa-bookmark"></i>
            </button>
          </a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>