{% extends 'employer/base.html' %}
{% load static %}
{% load filter_tags %}

{% block content %}


  <!-- Container for BradCrumbs-->

  <div class="container ">
    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb alert alert-success">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">employer/</li>
      </ol>
    </nav>
  </div>

  <div class="container mb-lg-4 mt-lg-4">
    <div class="col-md-12 mb-4">
      <h2><img src="/media/{{ user.avatar|default:'avatars/avatar-placeholder2.png' }}" alt="..." class="rounded"
               width="60"> {{ user.first_name|default:'Noname' }} (Employer)</h2>
      <hr>
    </div>
  </div>


  <!-- Tabbar -->
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'employer:employer' %}">Vacancies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'employer:cvs' %}">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'employer:bookmarks' %}">Bookmarks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Response</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MSG</a>
      </li>
    </ul>
  </div>


    <!-- Container for Companies-->
  <div class="container mb-lg-4">
    <!-- My Companies card -->
    <div class="card mb-lg-4">
      <div class="card-header">
        <h3>My Companies</h3>
        <a class="btn btn-outline-primary" href="{% url 'employer:company_create' %}" role="button">Create New
          Company</a>
      </div>
      <div class="card-body">
        {% if companies %}
          {% for company in companies|in_user_category:user %}
            <li>
              <a href="{% url "employer:company_detail" pk=company.pk %}">{{ company.company_name }}</a>
            </li>
          {% endfor %}
        {% else %}
          <p>No companies so far</p>
        {% endif %}
      </div>
    </div>
    <!-- End Card -->
  </div>
  <!-- End Container for companies -->



  <!-- Container for Vacancies-->

  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      {% if companies %}
      {% for company in companies|in_user_category:user %}

        <li class="nav-item" role="presentation">
          <a class="nav-link" id="company-tab-{{ company.pk }}" data-toggle="tab" href="#home" role="tab"
             >{{ company }}</a>
        </li>

      {% endfor %}
      {% else %}
        <p>No companies so far</p>
      {% endif %}
    </ul>
  </div>



    <div class="container">
      <div class="tab-content" id="myTabContent">
        <!-- My vacancy tab 1 -->
        <div class="tab-pane fade show active" id="company" role="tabpanel" aria-labelledby="company-tab-{{ company.pk }}">

            <!-- My vacancy card 1 -->
            <div class="card mb-lg-4">
              <div class="card-header">
                <h3>My Vacancies</h3>
                <a class="btn btn-outline-primary" href="{% url 'employer:vacancy_create' %}" role="button">Create New Vacancy</a>
              </div>
              <div class="card-body">
                {% if companies %}
                {% for company in companies|in_user_category:user %}
                  {% if vacancies %}
                    {% for job in vacancies|in_company_category:company %}
                      <li>
                        <a href="{% url 'employer:vacancy_detail' pk=job.pk %}">{{ job }}</a>
                      </li>
                    {% endfor %}
                  {% else %}
                    <p>No vacancies so far</p>
                  {% endif %}
                {% endfor %}
              {% else %}
                <p>No companies so far</p>
              {% endif %}
              </div>
            </div>
            <!-- End Card -->

        </div>
      </div>
    </div>
    <!-- End Container for Vacancies -->




{#  {% include "employer/includes/inc_vacancies.html" %}#}

{% endblock %}
