<table id="job-table" class="table">
  <thead>
  <tr>
    <th class="text-center" scope="col">#</th>
    <th class="text-center" scope="col">Position</th>
    <th class="text-center" scope="col">Company</th>
    <th class="text-center" scope="col">Comp. (€)</th>
    <th class="text-center" scope="col">City</th>
    <th class="text-center" scope="col">Created</th>
    <th class="text-center" scope="col">Read / Response / Bookmark</th>
  </tr>
  </thead>
  <tbody class="vacancy_list">
  {% for job in jobs %}
    {% csrf_token %}
    <tr>
      <th class="text-center" scope="row">{{ forloop.counter }}</th>
      <td class="text-center">{{ job.position }}</td>
      <td class="text-center">{{ job.company }}</td>
      <td class="text-center">{{ job.compensation }}</td>
      <td class="text-center">{{ job.city }}</td>
      <td class="text-center">{{ job.created_at }}</td>
      <td class="text-center">
        <!-- Read buttons -->
        <button  type="button" class="bs-modal read-bookmark btn btn-sm btn-primary"
                 data-form-url="{% url 'employee:job_read' job.pk %}">
          <i class="fas fa-eye"></i>
        </button>
        <!-- Response buttons -->
        <button type="button" class="bs-modal response-cv btn btn-sm btn-outline-success"
                data-form-url="{% url 'employee:job_response' job.pk %}">
          <i class="fas fa-share-square"></i>
        </button>
        <!-- Bookmark buttons -->
        {% if user not in job.employee_bookmarked.all %}
          <a href="{% url 'employee:job_bookmark' job.id %}" id="bookmark" data-id="{{ job.id }}">
            <button type="button" class="btn btn-sm btn-outline-danger like-btn{{ job.id }}">
              <i class="fas fa-bookmark"></i>
            </button>
          </a>
        {% else %}
          <a href="{% url 'employee:job_bookmark' job.id %}" id="bookmark" data-id="{{ job.id }}">
            <button type="button" class="btn btn-sm btn-danger like-btn{{ job.id }}">
              <i class="fas fa-bookmark"></i>
            </button>
          </a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>